<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary pl-0 py-3">
            <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                <a class="navbar-brand text-white" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                </li>
                <li class="nav-item">
                <a class="btn  btn-primary" href="{% url 'djangoapp:index' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="btn  btn-primary" href="{% url 'djangoapp:about' %}">About</a>
                </li>
                <li class="nav-item">
                <a class="btn  btn-primary" href="{% url 'djangoapp:contact' %}">Contact</a>
                </li>
            </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                            <li>
                                <a class="btn btn-link text-white" href="#">{{ user.first_name }}({{ user.username }})</a>
                                <a class="btn btn-link text-white" href="{% url 'djangoapp:logout' %}">Logout</a>
                            </li>
                {% else %}
                            <li>
                                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username" name="username" >
                                        <input type="password" class="form-control" placeholder="Password" name="psw" >
                                        <button class="btn btn-primary" type="submit">Login</button>
                                        <a class="btn btn-link text-white" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                                    </div>
                                </form>
                            </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>
        
        <div class="container">
        {% for dealer in dealers %}
        <p class="text-black h2">Add a review about {{dealer.full_name}}<p>
        <p class="h5">Enter the review content:<p>
        <form action="{% url 'djangoapp:addreview' dealer.id %}" method="post"> 
            {% csrf_token %}
            <textarea class="form-control" id="content" name="content" rows="2" style="width=10rem;" required></textarea><br>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <p class="h5"> Has purchased the car from {{dealer.full_name}} ? <span class="text-muted">(select purchased car information below if checked)</span></p><br>
            
            <p class="h5">Select your car (model-make-year):<p>
            <select name="car" id="car" class="form-select  h-100 w-50" required>
                {% if reviews %}
                    <option selected>Open this select menu</option>
                    <option>{{reviews.0.car_model}}-{{reviews.0.car_make}}-{{ reviews.0.car_year}}</option>
                {% endif %}
            </select>
            <br>
            <p class="h5">Select Your Purchase Date: <p>
            <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate" style="width:10em;">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endfor %}
        </div>
    </body>
<footer class="fixed-bottom bg-primary text-center text-lg-start">
    <div class="text-center p-1">
        <a class="btn  btn-primary m-2" href="{% url 'djangoapp:about' %}">About</a>
        <a class="btn  btn-primary m-2" href="{% url 'djangoapp:contact' %}">Contact</a>
    </div>
    <!-- Copyright -->
    <div class="text-center p-1 text-white">
        © 2021 Copyright
    </div>
    <!-- Copyright -->
</footer>
<script type="text/javascript">
      $('.date-own').datepicker({
         format: 'mm/dd/yyyy'
       });
 </script>
</html>
